<%include head.ejs%>
<html xmlns:wb="http://open.weibo.com/wb">
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8" defer></script>
<div class="about">
	<h1>关于</h1>
	<p>博主：手可摘星辰</p>
	<p>职业：学生</p>
	<p>技能：JavaScript</p>
	<p>爱好：旅游,踢球,写代码,数码,科技,玩,看别人打游戏</p>
	<p>邮箱：<a href="mailto:gotoanything@foxmail.com">gotoanything@foxmail.com</a></p>
	<p>Github：<a href="https://github.com/LuckyHH" target="_blank">LuckyHH</a></p>
	<p>微博：<a href="http://www.weibo.com/hhhhhgg" target="_blank">飞的一哥</a></p>
	<wb:follow-button uid="3961955273" type="red_1" width="67" height="24" style=""></wb:follow-button>
</div>
<%include foot.ejs%>
