<%include head.ejs%>
<%
	artical_id = 'leftMessage';
%>
<div id="comment">
	<h1>留言</h1>
	<p>欢迎来到文享日志。留言基本都会回复，并邮件通知留言者。</p>
	<p>欢迎在下面和我聊聊人生，扯扯淡。但请不要发一些广告和带有人身攻击的言论。</p>
	<p>申请友情链接的在下面留言，并且加上你的博客链接和博客名称。</p>
</div>
<%include comment_all.ejs%>
<%include comment_post.ejs%>
<%include foot.ejs%>
<script type="text/javascript" src="/javascripts/comment_display.js"></script>
<script type="text/javascript" src="/javascripts/form.js"></script>
