<%include head.ejs%>
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre>您所访问的页面不存在</pre>
			<footer>
				<p class="footer_copyright">©<span class="year">2018 </span><a href="/idx/0">月光博客</a> By<a href="/manage" class="foot_manage">手可摘星辰</a></p>
				<p>晋ICP备17000375号 <span id="cnzz_stat_icon_1272813456"><a href="http://www.cnzz.com/stat/website.php?web_id=1272813456" target="_blank" title="站长统计"><img border="0" hspace="0" vspace="0" src="http://icon.cnzz.com/img/pic.gif"></a></span></p>
			</footer>
		</div>
	</div>
</div>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1272813456'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1272813456%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>