<%include head.ejs%>
<div class="more_link">
	<h1>页面合集</h1>
	<table id="pageTab">
		<tbody>
			<tr>
				<td>自己的链接</td>
				<td>友情链接</td>
			</tr>
			<tr>
				<td><a href="http://otter.docmobile.cn" target="_blank" rel="nofollow">水獭</a></td>
				<td><a href="http://www.mrsaber.cn/index.do" target="_blank" rel="nofollow">极客资源网</a></td>
			</tr>
			<tr>
				<td><a href="https://hansecret.herokuapp.com/" target="_blank" rel="nofollow">悄悄话</a></td>
				<td></td>
			</tr>
			<tr>
				<td><a href="http://hanblog.herokuapp.com" target="_blank" rel="nofollow">博客镜像</a></td>
				<td></td>
			</tr>
			<tr>
				<td><a href="http://book.docmobile.cn" target="_blank" rel="nofollow">月光书屋</a></td>
				<td></td>
			</tr>
			<tr>
				<td><a href="http://chat.docmobile.cn" target="_blank" rel="nofollow">简易聊天室</a></td>
				<td></td>
			</tr>
			<tr>
				<td><a href="/C-lex" target="_blank">C词法分析器</a></td>
				<td></td>
			</tr>
			<tr>
				<td><a href="http://luckyhh.github.io" target="_blank" rel="nofollow">我的Github Page</a></td>
				<td></td>
			</tr>
			<tr>
				<td><a href="http://hanqianjin.3vdo.net/" target="_blank" rel="nofollow">以前自己写的几个静态</a></td>
				<td></td>
			</tr>
		</tbody>
	</table>

</div>
<%include foot.ejs%>
